In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("homicidios_source.csv")

In [3]:
df.shape

(84294, 9)

In [4]:
df.info

<bound method DataFrame.info of       DEPARTAMENTO          MUNICIPIO  CODIGO DANE ARMAS MEDIOS FECHA HECHO  \
0        ANTIOQUIA            LA CEJA    5376000.0         MOTO   1/01/2010
1        ATLÁNTICO  BARRANQUILLA (CT)    8001000.0         MOTO   1/01/2010
2        ATLÁNTICO            LURUACO    8421000.0         MOTO   1/01/2010
3          CAQUETÁ        PUERTO RICO   18592000.0         MOTO   1/01/2010
4         CASANARE            AGUAZUL   85010000.0         MOTO   1/01/2010
...            ...                ...          ...          ...         ...
84289          NaN                NaN          NaN          NaN         NaN
84290          NaN                NaN          NaN          NaN         NaN
84291          NaN                NaN          NaN          NaN         NaN
84292          NaN                NaN          NaN          NaN         NaN
84293          NaN                NaN          NaN          NaN         NaN

          GENERO  GRUPO ETARÍO  \
0      MASCULINO       ADULTOS
1       FEMENINO       ADULTOS
2      MASCULINO       ADULTOS
3      MASCULINO  ADOLESCENTES
4      MASCULINO       ADULTOS
...          ...           ...
84289        NaN           NaN
84290        NaN           NaN
84291        NaN           NaN
84292        NaN           NaN
84293        NaN           NaN

                                    DESCRIPCIÓN CONDUCTA  CANTIDAD
0      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       1.0
1      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       1.0
2      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       1.0
3      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       1.0
4      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       1.0
...                                                  ...       ...
84289  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       NaN
84290  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       NaN
84291  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       NaN
84292  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       NaN
84293  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...       NaN

[84294 rows x 9 columns]>

In [5]:
df

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
1,ATLÁNTICO,BARRANQUILLA (CT),8001000.0,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
2,ATLÁNTICO,LURUACO,8421000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
3,CAQUETÁ,PUERTO RICO,18592000.0,MOTO,1/01/2010,MASCULINO,ADOLESCENTES,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
4,CASANARE,AGUAZUL,85010000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
...,...,...,...,...,...,...,...,...,...
84289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN

In [6]:
df.columns

Index(['DEPARTAMENTO', 'MUNICIPIO', 'CODIGO DANE', 'ARMAS MEDIOS',
       'FECHA HECHO', 'GENERO', 'GRUPO ETARÍO', 'DESCRIPCIÓN CONDUCTA',
       'CANTIDAD'],
      dtype='object')

In [7]:
df.head(2)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
1,ATLÁNTICO,BARRANQUILLA (CT),8001000.0,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0

In [8]:
df.tail(4)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
84290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN

In [9]:
df.loc[6]

DEPARTAMENTO                                                      GUAJIRA
MUNICIPIO                                                   RIOHACHA (CT)
CODIGO DANE                                                    44001000.0
ARMAS MEDIOS                                                         MOTO
FECHA HECHO                                                     1/01/2010
GENERO                                                           FEMENINO
GRUPO ETARÍO                                                      ADULTOS
DESCRIPCIÓN CONDUCTA    ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
CANTIDAD                                                              1.0
Name: 6, dtype: object

In [10]:
df.DEPARTAMENTO.describe()

count            82354
unique              32
top       CUNDINAMARCA
freq             12282
Name: DEPARTAMENTO, dtype: object

In [11]:
df.MUNICIPIO.describe()

count                82354
unique                1798
top       BOGOTÁ D.C. (CT)
freq                  5146
Name: MUNICIPIO, dtype: object

In [12]:
df.GENERO.describe()

count         82354
unique            5
top       MASCULINO
freq          65481
Name: GENERO, dtype: object

In [13]:
df.CANTIDAD.describe()

count    82354.000000
mean         1.110074
std          0.404899
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         16.000000
Name: CANTIDAD, dtype: float64

In [14]:
df.CANTIDAD.mean()

np.float64(1.1100735847681957)

In [15]:
df.CANTIDAD.count()

np.int64(82354)

In [16]:
df["ARMAS MEDIOS"].unique()

array(['MOTO', 'VEHICULO', 'NO REPORTADO', 'BICICLETA',
       'SIN EMPLEO DE ARMAS', 'TREN', 'CONTUNDENTES', 'NO REPOTADO', nan],
      dtype=object)

In [17]:
df["GENERO"].unique()

array(['MASCULINO', 'FEMENINO', 'NO REPORTA', 'NO REPORTADO',
       'NO REPOTADO', nan], dtype=object)

In [18]:
df.GENERO.unique()

array(['MASCULINO', 'FEMENINO', 'NO REPORTA', 'NO REPORTADO',
       'NO REPOTADO', nan], dtype=object)

In [19]:
df["GRUPO ETARÍO"].unique()

array(['ADULTOS', 'ADOLESCENTES', 'MENORES', 'NO REPORTADO',
       'NO REPOTADO', nan], dtype=object)

In [20]:
df["DESCRIPCIÓN CONDUCTA"].unique()

array(['ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO)'],
      dtype=object)

In [21]:
df["CANTIDAD"].unique()

array([ 1.,  2.,  4.,  3.,  7.,  5., 10.,  8.,  6.,  9., 11., 16., nan])