In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("homicidios_source.csv")

In [3]:
df.shape

(84294, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DEPARTAMENTO          82354 non-null  object
 1   MUNICIPIO             82354 non-null  object
 2   CODIGO DANE           82354 non-null  float64
 3   ARMAS MEDIOS          82354 non-null  object
 4   FECHA HECHO           82354 non-null  object
 5   GENERO                82354 non-null  object
 6   GRUPO ETARÍO          82354 non-null  object
 7   DESCRIPCIÓN CONDUCTA  84294 non-null  object
 8   CANTIDAD              82354 non-null  float64
dtypes: float64(2), object(7)
memory usage: 5.8+ MB

In [5]:
df_cleaned = df.drop(columns=["CODIGO DANE", "DESCRIPCIÓN CONDUCTA"])

In [6]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS MEDIOS  82354 non-null  object
 3   FECHA HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO ETARÍO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 4.5+ MB

In [7]:
df_cleaned.rename(columns={'ARMAS MEDIOS': 'ARMAS_MEDIOS'}, inplace=True)
df_cleaned.rename(columns={'FECHA HECHO': 'FECHA_HECHO'}, inplace=True)
df_cleaned.rename(columns={'GRUPO ETARÍO': 'GRUPO_ETARIO'}, inplace=True)

In [8]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS_MEDIOS  82354 non-null  object
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO_ETARIO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 4.5+ MB

In [9]:
df_cleaned = df_cleaned.dropna()

In [10]:
df_cleaned.shape

(82354, 7)

In [11]:
rows_before = df.shape[0]
rows_after = df_cleaned.shape[0]

rows_before - rows_after

1940

In [12]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82354 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS_MEDIOS  82354 non-null  object
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO_ETARIO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 5.0+ MB

In [13]:
df_cleaned['DEPARTAMENTO'] = df_cleaned['DEPARTAMENTO'].astype('string')
df_cleaned['MUNICIPIO'] = df_cleaned['MUNICIPIO'].astype('string')
df_cleaned['ARMAS_MEDIOS'] = df_cleaned['ARMAS_MEDIOS'].astype('string')
df_cleaned['GENERO'] = df_cleaned['GENERO'].astype('string')
df_cleaned['GRUPO_ETARIO'] = df_cleaned['GRUPO_ETARIO'].astype('string')
df_cleaned['CANTIDAD'] = df_cleaned['CANTIDAD'].astype('int')

In [14]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82354 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  string
 1   MUNICIPIO     82354 non-null  string
 2   ARMAS_MEDIOS  82354 non-null  string
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  string
 5   GRUPO_ETARIO  82354 non-null  string
 6   CANTIDAD      82354 non-null  int64
dtypes: int64(1), object(1), string(5)
memory usage: 5.0+ MB

In [15]:
df_cleaned.FECHA_HECHO = pd.to_datetime(df_cleaned.FECHA_HECHO, format="%d/%m/%Y")

In [16]:
df_cleaned.dropna(subset=["FECHA_HECHO"], inplace = True)

In [17]:
df_cleaned.FECHA_HECHO.describe()

count                            82354
mean     2018-07-18 01:07:26.491973632
min                2010-01-01 00:00:00
25%                2014-12-24 00:00:00
50%                2019-01-01 00:00:00
75%                2022-08-06 00:00:00
max                2024-10-31 00:00:00
Name: FECHA_HECHO, dtype: object

In [18]:
sorted(df_cleaned.ARMAS_MEDIOS.unique())

['BICICLETA',
 'CONTUNDENTES',
 'MOTO',
 'NO REPORTADO',
 'NO REPOTADO',
 'SIN EMPLEO DE ARMAS',
 'TREN',
 'VEHICULO']

In [19]:
df_cleaned.ARMAS_MEDIOS = df_cleaned.ARMAS_MEDIOS.replace("NO REPOTADO", "NO REPORTADO")

In [20]:
sorted(df_cleaned.ARMAS_MEDIOS.unique())

['BICICLETA',
 'CONTUNDENTES',
 'MOTO',
 'NO REPORTADO',
 'SIN EMPLEO DE ARMAS',
 'TREN',
 'VEHICULO']

In [21]:
sorted(df_cleaned.GENERO.unique())

['FEMENINO', 'MASCULINO', 'NO REPORTA', 'NO REPORTADO', 'NO REPOTADO']

In [22]:
df_cleaned.GENERO = df_cleaned.GENERO.replace("NO REPORTADO", "NO REPORTA")
df_cleaned.GENERO = df_cleaned.GENERO.replace("NO REPOTADO", "NO REPORTA")

In [23]:
sorted(df_cleaned.GENERO.unique())

['FEMENINO', 'MASCULINO', 'NO REPORTA']

In [24]:
sorted(df_cleaned.GRUPO_ETARIO.unique())

['ADOLESCENTES', 'ADULTOS', 'MENORES', 'NO REPORTADO', 'NO REPOTADO']

In [25]:
df_cleaned.GRUPO_ETARIO = df_cleaned.GRUPO_ETARIO.replace("NO REPOTADO", "NO REPORTADO")

In [26]:
sorted(df_cleaned.GRUPO_ETARIO.unique())

['ADOLESCENTES', 'ADULTOS', 'MENORES', 'NO REPORTADO']

In [27]:
df_cleaned.drop_duplicates(subset=None, keep='first', inplace=True)

In [28]:
df_cleaned.shape

(76467, 7)

In [29]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76467 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  76467 non-null  string
 1   MUNICIPIO     76467 non-null  string
 2   ARMAS_MEDIOS  76467 non-null  string
 3   FECHA_HECHO   76467 non-null  datetime64[ns]
 4   GENERO        76467 non-null  string
 5   GRUPO_ETARIO  76467 non-null  string
 6   CANTIDAD      76467 non-null  int64
dtypes: datetime64[ns](1), int64(1), string(5)
memory usage: 4.7 MB

In [30]:
df_cleaned.to_csv("homicidios_clean.csv", index=False)

In [31]:
print("\nEl archivo CSV ha sido guardado.")

El archivo CSV ha sido guardado.